*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
      --h3-font-family: "Inter", sans-serif;
  --h1-h2-font-family: "Amatic SC", sans-serif;
  --main-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

}


body {
  font-family: var(--main-font-family);
  margin: 0;
  padding: 0;
  height: 3000px;
}


.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    font-family: var(--main-font-family);
    box-shadow: 0px 20px 20px 0px #0000001c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 1000;
}

a{
    text-decoration: none;
}

.container .nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}


.container .nav-links a{
    position: relative;
    color: rgb(106, 106, 106);
    font-size: 0.85rem;
    font-weight: 500;
    transition: 0.3s;
}

.container .nav-links a::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    transition: 0.3s;
}

.container .nav-links a:hover{
    color: black;
}

.container .nav-links a:hover::after{
    width: 100%;
}

.logo a{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}

.logo a span{
    color: red;
}

a i{
    color: black;
    font-size: 1.2rem;
    transition: 0.3s;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 201, 201);
}

.hero-content h1{
    font-family: var(--h1-h2-font-family);
    font-size: 3em;
}

.hero-content p{
    max-width: 500px;
    font-size: .9rem;
    color: rgb(132, 132, 132);
}

.hero-content .btns{
    margin-top: 20px;
}













